{{! template-lint-disable}}
<style>
    @import url('https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.3/semantic.min.css');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

    body {
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: grayscale;
        background-color: #dadada;
        font-family: 'Montserrat', sans-serif;
    }

    #cinoheader {
        font-family: 'Montserrat', sans-serif;
    }

    #cardheader {
        font-family: 'Montserrat', sans-serif;
    }

    #card {
        border-radius: 0px;
    }

    #ribbon {
        border-radius: 0px;
    }

    div #bookbutton {
        color: #ea2424
    }

    .sotbutton {
        background-color: transparent !important;
        border: 2px solid black !important;
        color: black !important;
    }

    .sotbutton:hover {
        background-color: black !important;
        color: white !important;
    }

    #bookbutton:hover {
        background-color: #ea2424;
        color: white
    }

    #saleButton {
        background-color: #2185d0;
        border-radius: 0px;
    }

    #sotlogo {
        margin-top: -10px !important;
    }

    #raten {
        color: red
    }

    .raten {
        size: 12px;
    }

    #welcome {
        color: darkslategray;
        font-family: 'Montserrat', sans-serif;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: grey !important;
        opacity: 1 !important;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: grey !important;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: grey !important;
    }
</style>

<div class="ui tablet computer only grid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div class="ui mobile only grid">
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="ui container">
    <div class="ui raised segment" style="border-radius: 15px!important;">
        <div class="ui center aligned medium header">
            <strong id="welcome">
                Wochenkarte
            </strong>
        </div>
        <br>
        <div class="ui container">
            <div class="ui form">
                <div class="field">
                    <div class="fields">
                        <div class="field">
                            <label for="">Von Wann</label>
                            {{input value=this.model.from type="text" placeholder="Datum eingeben"}}
                        </div>
                        <div class="field">
                            <label for="">Bis Wann</label>
                            {{input value=this.model.to type="text" placeholder="Datum eingeben"}}

                        </div>
                    </div>
                    <h4 class="ui dividing header">Montag</h4>
                    <div class="field">
                        <label for="">Preis</label>
                        {{input value=this.model.monday.mondayprice type="number" placeholder="Preis"}}
                    </div>
                    <div class="field">
                        <label for="">Beschreibung</label>
                        {{textarea value=this.model.monday.mondaydesc type="text" placeholder="Beschreibung des
                        Gerichts" rows="2"}}
                    </div>
                </div>
                <div class="field">
                    <h4 class="ui dividing header">Dienstag</h4>
                    <div class="field">
                        <label for="">Preis</label>
                        {{input value=this.model.tuesday.tuesdayprice type="number" placeholder="Preis"}}
                    </div>
                    <div class="field">
                        <label for="">Beschreibung</label>
                        {{textarea value=this.model.tuesday.tuesdaydesc type="text" placeholder="Beschreibung des
                        Gerichts" rows="2"}}
                    </div>
                </div>
                <div class="field">
                    <h4 class="ui dividing header">Mittwoch</h4>
                    <div class="field">
                        <label for="">Preis</label>
                        {{input value=this.model.wednesday.wednesdayprice type="number" placeholder="Preis"}}
                    </div>
                    <div class="field">
                        <label for="">Beschreibung</label>
                        {{textarea value=this.model.wednesday.wednesdaydesc type="text" placeholder="Beschreibung des
                        Gerichts"
                        rows="2"}}
                    </div>
                </div>
                <div class="field">
                    <h4 class="ui dividing header">Donnerstag</h4>
                    <div class="field">
                        <label for="">Preis</label>
                        {{input value=this.model.thursday.thursdayprice type="number" placeholder="Preis"}}
                    </div>
                    <div class="field">
                        <label for="">Beschreibung</label>
                        {{textarea value=this.model.thursday.thursdaydesc type="text" placeholder="Beschreibung des
                        Gerichts"
                        rows="2"}}
                    </div>
                </div>
                <div class="field">
                    <h4 class="ui dividing header">Freitag</h4>
                    <div class="field">
                        <label for="">Preis</label>
                        {{input value=this.model.friday.fridayprice type="number" placeholder="Preis"}}
                    </div>
                    <div class="field">
                        <label for="">Beschreibung</label>
                        {{textarea value=this.model.friday.fridaydesc type="text" placeholder="Beschreibung des
                        Gerichts" rows="2"}}
                    </div>
                </div>
                <br>
                <div class="field">
                    <button class="ui fluid green button" onclick="showModal()">
                        <i class="save icon"></i> Speichern
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div class="ui mini modal">
    <div class="ui icon header">
        <i class="save icon"></i>
        Wochenkarte speichern
    </div>
    <div class="content">
        <p style="text-align: center;">Sobald du speicherst sind die Änderungen auf der Hauptseite sichtbar. Bist du
            sicher das du die Änderungen übernehmen willst?</p>
    </div>
    <div class="actions">
        <div class="ui red cancel inverted button">
            <i class="remove icon"></i>
            Nein
        </div>
        <div class="ui green ok inverted button" {{action "save" }}>
            <i class="checkmark icon"></i>
            Ja
        </div>
    </div>
</div>

<script>
    function showModal() {
        $('.ui.mini.modal')
            .modal('show')
            ;
    }

</script>